@model PizzeriaInForno.Models.OrderItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <div class="dl-horizontal d-flex">
        <div>
            <img src=@ViewBag.Product.ProductImage alt="" style="width: 400px" />
        </div>
        <div class="mx-3">
            <h4>Prodotto</h4>
            <p>@ViewBag.Product.ProductName</p>
            <h4>Categoria</h4>
            <p>@ViewBag.Product.Category</p>
            <h4>Preparazione</h4>
            <p>@ViewBag.Product.PreparationTime</p>
            <h4>Ingredienti</h4>
            <p>@ViewBag.Product.Ingredients</p>
            <h4>Prezzo</h4>
            <h5>@ViewBag.Product.ProductPrice€</h5>
        </div>
    </div>
</div>
@if (HttpContext.Current.User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = ViewBag.Product.ProductId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
